body{
    background-color: rgb(176, 176, 171);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#teste{
    width: 200px;
    height: 200px;
    background-color: cornsilk;
    color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
}
