*{
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.assunto{
    width: 80%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px;
    background-color: rgb(165, 117, 165);
   
    
}

.codigoDoAssunto{
    width: 80%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(235, 243, 243);
    
}
